/* grid */
.grid-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 0vh 0vh 20vh;
}

/* dragon */
.four{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fffff9 !important;
}
* {box-sizing: border-box}

/*registration*/
.container {
  height: 95%;
  text-align: left;
  background-color: #fffff9 !important;
}

/*password*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid black;
  background: white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/*button*/
.btn {
  background-color: #a65e44;
  color: #fffff0;
  font-weight: bold;
  font-size: 14pt;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #fffff0;
  color: #a65e44;
  border: 1px solid black;
}

/*text*/
b{
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  color: #a65e44;
}

h1 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
  align-self: center;
  color: #653a29;
}

/*media query*/
@media screen and (max-width: 780px) {
  .grid-column-layout{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, .5fr);
  }
  
  .one{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

  }

  .two{
    grid-column: 1 / 2;
    grid-row: 2 / 3;

  }
  
  .three{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
 
  }
  
  .four{
    grid-column: 1 / 2;
    grid-row: 4 / 5;

  }
  
  .five{
    grid-column: 1 / 2;
    grid-row: 5 / 6;

  }

  .six{
    grid-column: 1 / 2;
    grid-row: 6 /7;
  }

/*slick nav*/
  #menu {
    display: none;
  }

  .slicknav_menu {
    display: block;
    background-color:#6ab5cb!important;
  }

  .slicknav_menu,
  .slicknav_menutxt {
    font-family: 'Hammersmith One', sans-serif;
  }

  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    display: block;
    max-width: 100px;
  }

  .slicknav_nav ul {
    margin: 0 0 0 20px;
    text-align: center;
    justify-content: flex-end;
  }

  ul {
    justify-content: flex-end;
  }

  li {
    padding: 2px 3px;
    margin-right: .5em;
  }

  li:hover a {
    background: #fffff0;
  }

  a {
    font-size: 1em;
    display: block;
  }
  
  a:hover.menu {
    background: #fffff0!important;
    color: #a65e44;
  }

  .top {
    color: #fffff0!important;
  }
}

.top:hover{
  color: #a65e44!important;
}
